<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div class="container md-5">
    <h1 class="text-center mb-5">게시판</h1>
    <div class="row flex-column view">
        <div class="title py-3 pl-2" th:text="${boardDto.title}"></div>
    </div>
    <div class="row view_info py-3">
        <div class="col-8 d-flex">  
            <div class="date pr-5" th:text="${#temporals.format(boardDto.wdate, 'yyyy-MM-dd HH:mm')}"></div>
            <div class="write pr-5" th:text="${boardDto.writer}"></div>
            <div class="hit" th:text="${boardDto.hit}"></div>
        </div>
        <div class="col-4 sns text-right">
            <a href="#" class="mr-3"><i class="ri-instagram-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-facebook-circle-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-kakao-talk-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
        </div>   
    </div>
    <div class="content py-5">
        <span th:text="${boardDto.contents}"></span>
    </div>
    <div class="row justify-content-end mb-5">
        <a th:href="@{'/post/edit/' + ${boardDto.num}}" class="btn btn-dark text-white px-3 mr-3">수정</a>
        <form id="delete-form" th:action="@{'/post/' + ${boardDto.num}}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit"
                    class="btn btn-dark text-white px-3 mr-3">삭제</button>
        </form>
        <a th:href="@{'/'}" class="btn btn-dark text-white px-3">목록</a>
    </div>

    <div class="modal fade" role="dialog" 
        id="delModal" tabindex="-1" 
        aria-labelledby="delModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">삭제</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" arial-label="close">
                        <i class="ri-close-line"></i>     
                    </button>
                </div>
            <form>    
                <div class="modal-body">
                    <p>삭제 하시려면 비밀번호를 입력하세요</p>
                        <input type="password" class="form-control" 
                            placeholder="비밀번호" /> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">삭제하기</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <ul class="list-group w-100">
            <li class="list-group-item d-flex p-4" th:each="comments : ${commentList}">
                <div class="col-2">
                   <h3 th:text="${comments.username}"> <small th:text="${comments.cdate}"></small></h3>
                </div>
                <div class="col-9" th:text="${comments.comment}">
                      
                 </div>
                <div class="col-1 text-right">
                    <form id="comment-delete-form" th:action="@{'/post/comment/' + ${comments.num}}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button 
                        class="btn btn-sm btn-danger text-white"
                        type="submit"
                        >삭제</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <form name="commentForm" id="comment_form" method="post" action="/writecomment">
         <input type="hidden" name="ndboardNum" th:value="${boardDto.num}" />
            <div class="row mt-5">
                <div class="col-3">
                    <label>이름</label>
                    <input type="text" name="username" class="form-control" /> 
                </div>
                <div class="col-3">
                    <label>비밀번호</label>
                    <input type="password" name="userpass" class="form-control" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10"> 
                   <textarea id="memo-content" name="comment" class="form-control"></textarea>
                </div>
                <div class="col-2">
                   <button type="submit" class="btn btn-comment">전송</button> 
                </div>
            </div>
            <input type="hidden" name="userid" value="guest"/>
    </form>
</div>
    
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/popper.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/custom.js}"></script>
    <script th:src="@{../js/summernote-bs4.min.js}"></script>
    <script th:src="@{../js/lang/summernote-ko-KR.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let boardDto = /*[[${boardDto}]]*/ "";
        /*]]>*/

        console.log(boardDto);
    </script>
    
</body>
</html>